.dialogMask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #004;
	opacity: 0.5;
}
.dialogMask.level1 {
	background: #400;
}
.dialogMask.level2 {
	background: #020;
}

.dialog {
	position: fixed;
	top: 10%;
	left: calc(50% - 22rem);
	width: 40rem;
	box-shadow: 0 0 5px 2px #000;
	padding: 1rem 2rem;
	background: #fff;
}
.dialog.level1 {
	top: calc(10% + 2rem);
	left: calc(50% - 27rem);
	width: 50rem;
}
.dialog.level2 {
	top: calc(10% + 3rem);
	left: calc(50% - 20rem);
	width: 30rem;
}
.dialog > .message {
	font-size: 115%;
	font-variant: small-caps;
}
.dialog span {
	display: block;
	margin: 0.5rem 0;
}
.dialog span.box {
	max-height: 15rem;
	padding: 0.1rem 0.2rem;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	overflow-y: scroll;
}
.dialog span.indent {
	display: inline-block;
	width: 1rem;
	margin: 0;
	text-align: center;
}
.dialog span.info {
	font-size: 90%;
}
.dialog span.inline {
	display: inline-block;
}
.dialog span.inline + span.inline {
	margin-left: 0.5rem;
}
.dialog div {
	margin-top: 0.5rem;
	border-top: 1px solid #eee;
	padding-top: 0.5rem;
	text-align: right;
}
.dialog div button {
	margin-left: 0.2rem;
}
